html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Plus Jakarta Sans";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar-wrapper {
  padding-bottom: 150px;
  padding-top: 40px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 180px;
}

.navbar-list {
  list-style-type: none;
}

.navbar-list li {
  display: inline-block;
  padding: 0 30px;
}

.navbar-list a {
  text-decoration: none;
  color: #222222;
}

.header-button {
  border-color: #080829;
  background-color: #fff;
  border-radius: 14px;
  width: 200px;
  height: 60px;
  font-family: "Plus Jakarta Sans";
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.header-button a {
  text-decoration: none;
  color: black;
}

.cart-button-navbar-wrapper {
  display: flex;
  align-items: center;
}

.cart-wrapper {
  display: flex;
  gap: 10px;
  padding-right: 28px;
}

.cart-wrapper a {
  text-decoration: none;
  color: black;
}

.zero {
  color: #3f53d8;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.header-wrapper {
  padding-bottom: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper h1 {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 63px;
  line-height: 79px;
  width: 470px;
}

.header-wrapper h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  width: 495px;
}
header button {
  width: 240px;
  height: 60px;
  border-radius: 14px;
  background-color: #3f53d8;
  border: none;
}

button a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  font-family: "Plus Jakarta Sans";
}

.header-button-wrapper {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.no-credit-img {
  padding-left: 35px;
}

.header-img-logo {
  width: 150px;
  height: 20px;
}

.teams-wrapper {
  text-align: center;
}

.header-h3-wrapper {
  padding-bottom: 54px;
}

.header-logos-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  padding-bottom: 190px;
}

.main-text-wrapper {
  text-align: center;
  padding-bottom: 105px;
}

.main-text-wrapper h2 {
  padding-bottom: 28px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 56px;
}

.main-text-wrapper h3 {
  width: 555px;
  color: #545479;
  margin: 0 auto;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.main-icons-wrapper {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 230px;
}

.main-icons-wrapper h4 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 100px;
  padding-top: 30px;
}

.main-icons-wrapper img {
  height: 60px;
  width: 60px;
}

.main-collaborate-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 200px;
}

.main-collaborate-text-wrapper {
  width: 400px;
}

.main-collaborate-text-wrapper h2 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 56px;
  padding-bottom: 25px;
}
.main-collaborate-text-wrapper h3 {
  padding-bottom: 35px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #545479;
}

.main-collaborate-text-wrapper h4 {
  padding-bottom: 15px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #080829;
}

.button-learn-more {
  text-align: center;
  width: 174px;
  height: 60px;
  border-radius: 14px;
  background-color: #3f53d8;
  border: none;
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.btn-learn-more-wrapper {
  padding-top: 30px;
}

.impactful-creatives-wrapper {
  padding-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blackquote-robert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
  width: 440px;
}

.blackquote-wrapper {
  text-align: left;
}

.blackquote-wrapper figcaption {
  text-align: center;
}

.impactful-creatives-wrapper h2 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 56px;
  width: 321px;
  padding-bottom: 27px;
}
.impactful-creatives-wrapper h3 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #545479;
  width: 410px;
  padding-bottom: 44px;
}

.premium-access-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 200px;
}

.logo124-img-wrapper {
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.logo124-img-wrapper img {
  width: 100px;
}

.logo356-img-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo356-img-wrapper img {
  width: 100px;
}

.premium-access-text-wrapper h2 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  width: 370px;
  padding-bottom: 25px;
}

.premium-access-text-wrapper h3 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  width: 425px;
  color: #545479;
  padding-bottom: 30px;
}

.collab-is-simple-wrapper {
  display: flex;
  justify-content: space-between;
}

.collab-simple-h2 {
  padding-bottom: 85px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 56px;
  text-align: center;
}

.collab-is-simple-wrapper h3 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 34px;
}

.collab-is-simple-wrapper h4 {
  padding-bottom: 200px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: #545479;
  width: 333px;
}

.opinion-about-collab-h2 {
  padding-bottom: 85px;
  margin: 0 auto;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
  width: 620px;
}

.blue-stars {
  padding-bottom: 35px;
  display: flex;
  gap: 15px;
}

.blackqoute-purpleguy-wrapper blackquote {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  width: 720px;
}

.blackqoute-purpleguy-wrapper figcaption {
  padding-top: 35px;
  padding-bottom: 40px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
}

.blackquote-purpleguy-img-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opinion-about-collab-wrapper {
  padding-bottom: 200px;
  width: 720px;
  margin: 0 auto;
}

.two-pointers-img {
  width: 60px;
  height: 20px;
}

.quotes-position-wrapper {
  position: relative;
}

.quotes-open-img {
  opacity: 20%;
  position: absolute;
  left: 10%;
  top: 20%;
}

.quotes-close-img {
  opacity: 20%;
  position: absolute;
  left: 80%;
  top: 40%;
}

.play-button {
  width: 76px;
  height: 76px;
}

.kplus::after {
  content: "+";
  font-size: 44px;
  color: #3f53d8;
}

.kplus {
  display: flex;
}

.plus {
  color: #3f53d8;
}

.achievements-wrapper {
  padding-bottom: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch-demo-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.achievements-wrapper h3 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #545479;
  width: 200px;
  padding-top: 15px;
}

.achievements-wrapper h2 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 58px;
}

.collab-integrates {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 56px;
  width: 550px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
}

.tools-logos-wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
}

.tools-logos-wrapper img {
  height: 55px;
  display: block;
}

.tools-logos-wrapper > *:nth-child(2n) {
  margin-top: 25px;
}

.logos-padding-wrapper {
  padding-bottom: 180px;
}

.time-read::before {
  content: url(images/black\ small\ rectangle.png);
  padding-left: 8px;
  padding-right: 8px;
}

.latest-articles-collab {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 56px;
  text-align: center;
  padding-bottom: 90px;
}

.articles-collab-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding-bottom: 180px;
}

.articles-collab-wrapper h3 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  width: 100%;
  padding-bottom: 20px;
}

.branding-button {
  background: rgba(162, 89, 255, 0.3);
  border-radius: 10px;
  width: 113px;
  height: 34px;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.article-collab-button-padding {
  padding-top: 30px;
  padding-bottom: 25px;
}

.business-button {
  background: #d9deff;
  border-radius: 10px;
  width: 113px;
  height: 34px;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.startup-button {
  background: rgba(250, 91, 104, 0.3);
  border-radius: 10px;
  width: 113px;
  height: 34px;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.line-img-width {
  width: 360px;
  height: 1.5px;
}

.articles-span-wrapper {
  padding-top: 22px;
  display: flex;
  align-items: center;
}

.bgcolor {
  display: flex;
  align-items: center;
  width: 100%;
  height: 680px;
  background-color: #080829;
  position: relative;
}

.bgcolor-section-padding {
  padding-bottom: 110px;
}

.bgcolor h2 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  margin: 0 auto;
  width: 850px;
}

.bgcolor-content-wrapper {
  margin: 0 auto;
}

.bgcolor-button-wrapper button {
  width: 240px;
  height: 60px;
  border-radius: 14px;
  background-color: #3f53d8;
  border: none;
  margin: 0 auto;
}

.bgcolor-button-wrapper {
  text-align: center;
  padding-top: 65px;
}

.white-img-bgcolor {
  position: absolute;
  top: 0%;
  left: 0%;
}

.half-circle {
  position: absolute;
  top: 0%;
  left: 80%;
}

.small-yellow-circle {
  position: absolute;
  top: 85%;
  left: 10%;
}

.no-cc-bgcolor {
  position: absolute;
  left: 57%;
  top: 65%;
}

.Aa-bgcolor {
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.collabio-footer-logo {
  width: 152px;
  height: 46px;
}

.footer-wrapper {
  position: relative;
  padding-bottom: 95px;
  display: flex;
  justify-content: space-between;
}

.ul-li-footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}

.ul-li-footer-wrapper a {
  color: black;
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}

.ul-li-footer-wrapper li {
  color: black;
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 45px;
}

.ul-li-footer-wrapper p {
  padding-bottom: 20px;
  color: black;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
}

.get-in-touch-footer-wrapper {
  line-height: 45px;
}

.get-in-touch-footer-imgplusspan {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-networks-logos-footer {
  display: flex;
  gap: 25px;
  padding-top: 25px;
}

.lime-small-circle {
  position: absolute;
  top: 70%;
  left: 15%;
}

.footer-span-wrapper span {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
}

.footer-span-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
}
